@import url('https://fonts.googleapis.com/css2?family= Vina +Sans & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Vina Sans', sans-serif;
}

body {    
    height: 100vh;
    background: linear-gradient( #d83f02, #970202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.relogio {
    display: flex;    
    align-items: center;
    justify-content: space-around;
    height: 12.5rem;
    width: 34.4rem;
    background: transparent;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 0.6rem rgb(0, 0, 0, 0.5);
}

.relogio div {
    height: 10.6rem;
    width: 9.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4704e2e3;
    background-color: #f3bc06e3;
    box-shadow: 0.3rem 0.3rem 0.9rem rgb(0, 0, 0, 0.5);
    border: 0.4rem;
    letter-spacing: 0.2rem;
}

.relogio span {
    font-weight: bolder;
    font-size: 3.8rem;
}

.relogio span.tempo {
    font-size: 0.7rem;
}


@media(max-width: 500px) {    
    .relogio {
        display: grid;
        grid-row: 1fr 1fr 1fr;
        box-shadow: none;        
        position: absolute;
        top: 10%;
    }
}
